# OS
.DS_Store

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# Java/Gradle
backend/.gradle/
backend/build/
**/bin/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
