server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jiralite
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.springframework.security: INFO
